<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- BuildDefinitionID from VSTS url => .build-ci-hub?_a=edit-build-definition&id={BuildDefinitionID} -->
  
  <!-- BuildConfigurationID from TeamCity Url => /viewType.html?buildTypeId={BuildConfigurationID} -->

  <appSettings>

    <add key="Blink1.FadeInsteadOfBlink" value="False"/>

    <!-- Allowed values => TFS, VSTS, TeamCity -->
    <add key="Monitoring.BuildServer" value="TeamCity"/>

    <add key="TFS.UseFake" value="False"/>
    <add key="TFS.Instance" value="https://trivanda.visualstudio.com"/>
    <add key="TFS.Username" value="demo"/>
    <add key="TFS.Password" value="djashdjahdsahdjasghdjahdjashdh"/>
    <add key="TFS.ProjectID" value="Blink1BuildStatus"/>
    <add key="TFS.BuildDefinitionIDs" value="7;8"/>

    <add key="TeamCity.UseFake" value="False"/>
    <add key="TeamCity.Instance" value="teamcity.jetbrains.com"/>
    <add key="TeamCity.UseGuestLogin" value="True"/>
    <add key="TeamCity.BuildConfigurationIDs" value="bt1240;bt1259;bt774"/>

  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
